h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
body{
    background-color: burlywood;
}
.main {
    text-align: center;
    width: 75%;
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}
.item {
    text-align: left;
    width: 75%;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
}
.price {
    text-align: right;
    width: 25%;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
}
